<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="logo" routerLink="/">NgVGB</span>
            <input
            class="search-input"
            name="search"
            placeholder="Search 1M+ games"
            >
        <button type="submit" class="search-button">Search</button>
    </form>
    <button
    class="cart" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon 
            matBadgeColor="warn">
            shopping_cart
        </mat-icon>
      </button>
    <mat-menu #menu="matMenu"> 
        <div class="menu">
            <div class="pb-3 flex justify-between">
                <span class="mr-16">{{itemsQuantity}} Items</span>
                <a routerLink="cart" touterLink="/cart"> View cart</a>
            </div>
            <div clas="py-3" *ngIf="cart.items.length">
                <div 
                    *ngFor="let item of cart.items"
                class="flex justify-between font-light mb-2">
                    {{item.name}} x {{item.quantity}}
                    <span class="font-bold"> {{item.price | currency}}</span>
                </div>
           
            </div>
            <div class="flex justify-between py-3 font-light">
                Total <span class="font-bold">{{ getTotal(cart.items) | currency}}</span>
            </div>
            <div class="pt-3 flex justify-between">
                <button (click)="clearCart()" class="bg-red-600 text-white rounded-full w-9 h-9">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                <button class="bg-green-600 text-white rounded-full w-9 h-9">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </div>
        </div>
      </mat-menu>
</div>
    